/* Empty. Add your own CSS if you like */
.newItem{
    position:absolute;
    right:10px;
}
a {
	text-decoration: none;
}
.navbar{
    position:relative;
}

.bar.bar-energized .title  {
	font-size: 1.7em;
}

img {
	width: 95%;
}

#readmore {
	border-top: 1px solid #ccc;
	width: 100%;
	padding-right: 15pt;
	padding-top: 10pt;
	text-align: right;

}
#qrpic {
	width: 50%
}

#roominput {
	font-size: 1.4em;
	text-align: center;
}
#roominput::placeholder {
	
	text-align: center;
}

.card h5 {
	color: #aaaaaa;
}
.card .center{
	text-align: center;
}

.card .center input {
	text-align: center;
}

.menu {
	background: #F2F2F2;
	text-align: center;
}
.bar-stable{
	
}

.menu .item-content {
	background: #F2F2F2;
}

/*.menu .item-content .current{
	background: #E0E0E0;
}*/

/*.item.item-avatar {
	padding: 5pt;
}

.card.information{
	padding: 5pt;
}*/
.card.information h5 {
	color: #aaaaaa;
}


.card button p{
	width: 100%;
}


.roomHeader {
	padding: 15pt;

	border-bottom: 1px solid #ECECEC;
}

.roomHeader .floor {
	color: #FF6F06;

}

.roomHeader p {
	font-size: 1.5em;
	width: 100%;
}

.roomHeader sup {
	margin-right: 5%;
}
.roomHeader i{
	position: absolute;
	right: 15pt;
}

.roomBody {
	padding: 15px;
}

.roomBody .content {
	color: #969696;
	margin-bottom: 15pt;
}

.roomBody .hours {
	color: #969696;
	font-size: 2em;
	margin-bottom: 15pt;
}

.roomBody .phone {
	color: #969696;
	font-size: 2em;
}

.roomBody .label {
	margin-bottom: 0pt;
}

.roomFooter:first-child {
	border-right: 1px solid blue
}

markdown h2 {
	color: red;
	text-decoration: underline;

}

markdown h1 {
	font-size: 1.75em;
}

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bar-energized {
    color: #ff7800;
    
    background-color:#ff7800

}

.info {
	position: absolute;
	bottom: 15pt;
	width: 86%;
	padding: 5pt;
	background-color: black;
	opacity: 0.9;


}

.info H2{
	color: white;
}

.info H2 Strong {
	font-size: 1.3em;
}

.info a {
	color: white;
}