<ion-view title="News">
  <ion-content>
    <div ng-repeat="item in items | orderBy: 'updatedAt':true" class="card">
      <a href="#/app/read-article/{{item.objectId}}">
      <div class="item item-text-wrap">
          <h5>{{item.updatedAt}}</h5>
          <h2>{{item.title}}</h2>
          <markdown ng-model="item.description"></markdown>

          
          <img ng-if="item.thumbnail" src="{{item.thumbnail}}">
          <div id="readmore">
            <p>
              Read more
              <i class="icon ion-log-out"></i>
            </p>  
          </div>
      </div>

      <!-- <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          {{ item.like }} like
        </a>
        <a class="tab-item" href="#">
          
        </a>
        <p class="tab-item">
          Read more
          <i class="icon ion-log-out"></i>
        </p>
      </div> -->
      </a>
    </div>

  </ion-content>
</ion-view>