<ion-view title="Contact">
    <ion-content>


   

        <div class="list card" ng-repeat="contact in contacts | orderBy: 'priority'">

            <div class="item">
                <img src="{{contact.photo}}">
                <div class="info">
                    <h2><strong>{{contact.firstName}}</strong> {{contact.lastName}}</h2>
                    <p>{{contact.job}}</p>

                    <p>
                        Tel. <a ng-href="tel:{{ contact.tel }}">{{contact.tel}}</a>
                    </p>
                    <p>
                        E-mail: <a ng-href="mailto:{{ contact.email }}">{{contact.email}}</a>

                    </p>
                    
                </div>
            </div>
            
        </div>


    </ion-content>
</ion-view>
