<ion-view title="Contact">
    <ion-content>

        <div class="list card">


            <div class="item item-avatar">
                <img src="http://www.sut.ru/images/english/zuravleva.jpg">
                <h2>Nina Zhuravleva</h2>
                <p>Head of International Cooperation Department</p>
            </div>

            <div class="item item-body">
                <p>
                    Tel. +7 812 305-12-24
                </p>
                <p>
                    E-mail: nina.zhuravleva@spbgut.ru
                </p>
            </div>

        </div>
        
        <div class="list card">

            
            <div class="item item-avatar">
                <img src="http://www.sut.ru/images/english/barkar_zh.jpg">
                <h2>Janneta  Barkar</h2>
                <p>Student  Exchange  Coordinator</p>
            </div>

            <div class="item item-body">
                <p>
                    Tel.: +7 (812) 305-12-24

                </p>
                <p>
                    E-mail: mobility@spbgut.ru


                </p>
            </div>

        </div>
        
        <div class="list card">

            <div class="item item-avatar">
                <img src="http://www.sut.ru/images/english/petrovec.jpg">
                <h2>Tatiana Petrovec</h2>
                <p>Student  Exchange  Coordinator</p>
            </div>

            <div class="item item-body">
                <p>
                    Tel.: +7 (812) 305-12-24

                </p>
                <p>
                    E-mail: petrovec_tn@spbgut.ru


                </p>
            </div>

        </div>

        
        <div class="list card">

            <div class="item item-avatar">
                <img src="http://www.sut.ru/images/english/mikhailova.jpg">
                <h2>Yulia Mikchailova</h2>
                <p>Student  Exchange  Coordinator</p>
            </div>

            <div class="item item-body">
                <p>
                    Tel.: +7 (812) 305-12-24

                </p>
                <p>
                    E-mail:  usjuliam@mail.ru

                </p>
            </div>

        </div>

    </ion-content>
</ion-view>