<ion-view title="Room Information">
  <ion-content>

	<div class="card">
		<div class="item item-text-wrap center">
			<!--<h2>Type a room number</h2><br />-->
		    <input id="roominput" type="number" placeholder="Type a room number" name="number" ng-model="room.number" required></input><br />
			<button class="button button-stable" ng-click="search()">
		  		Search
			</button>
		</div>
	</div>


	<div class="card">
	  <div class="item item-text-wrap center" ng-click="scan()"><br />
	  		<img id="qrpic" src="img/qrcode.png">
	  		<h2>Or scan a room QRcode</h2><br />
	  </div>
	</div>
<!-- 	<button class="button button-stable" ng-click="goroom()">
  		test
	</button> -->

  </ion-content>
</ion-view>